.u-show-print {
    display: none !important;
}

.print-only,
.u-print-only {
    display: none !important;
}

.pdfOnly,
.pdf-only,
.u-pdf-only {
    display: none !important;
}

.u-pdf-rule {
    display: none;
}
