.u-show-mobile {
    display: none;

    @include breakpoint(mobile) {
        display: block;
    }
}

.u-show-tablet {
    display: none;

    @include breakpoint(tablet) {
        display: block;
    }
}

.u-hide-mobile {
    @include breakpoint(mobile) {
        display: none !important;
    }
}

.u-hide-tablet {
    @include breakpoint(tablet) {
        display: none !important;
    }
}
